Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^user/(\w+)$ ./profile.php?username=$1
RewriteRule ^user/(\w+)/$ ./profile.php?username=$1